<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>WebSocket</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/webSocket.css"/>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    <script src="/javascripts/libs/react.development.js" crossorigin></script>
    <script src="/javascripts/libs/react-dom.development.js" crossorigin></script>
    <script src="/javascripts/libs/babel.min.js" crossorigin></script>
    <script type="text/babel" src="/javascripts/websocket/webSocket.js"></script>
  </body>
</html>
